.swiper-pagination-switch {
  width: 8px;
  height: 8px;
  border: 1px solid #26969b;
  margin-right: 10px;
  border-radius: 30px;
  display: inline-block;
}
.pagination {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
}
.swiper-visible-switch.swiper-active-switch {
  background: #26969b;
}
ol.count {
  margin: 40px;
  text-align: center;
  line-height: 44px;
}
ol.count li {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 30px;
  margin: 0 20px;
  cursor: pointer;
}
ol.count li a {
  display: inline-block;
}
ol.count li img {
  position: absolute;
  top: 5px;
}
ol.count .num {
  width: 30px;
  line-height: 30px;
  height: 30px;
}
ol.count .num a {
  color: #333333;
  font-size: 24px;
  font-weight: normal;
}
ol.count .num.active,
ol.count .num:hover {
  background: #26969b;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
}
ol.count .num.active a,
ol.count .num:hover a {
  color: #fff;
}
.noticebox .notice .rightbox .top {
  background: none;
}
.noticebox .notice {
  width: 910px;
}
.noticebox .notice .rightbox {
  margin-top: -54px;
}
/* 博物馆简介 */
.main {
  width: 100%;
  background: url(../images/erji/js1.jpg) no-repeat center top;
}
.main .commen p {
  font-size: 22px;
  color: #000;
  text-indent: 2em;
  line-height: 40px;
  text-align: justify;
  letter-spacing: 1px;
}
.main .commen h2 {
  text-align: center;
  color: #26969b;
  font-size: 40px;
  line-height: 110px;
}
.main .js {
  height: 770px;
  width: 100%;
}
.main .js h2 {
  padding-top: 50px;
}
.main .sc {
  width: 100%;
  height: 790px;
  background: url(../images/erji/js2.jpg) no-repeat center;
}
.main .yj {
  width: 100%;
  height: 608px;
  background: url(../images/erji/js3.jpg) no-repeat center;
}
.main .jd {
  width: 100%;
  height: 830px;
  background: url(../images/erji/js4.jpg) no-repeat center;
}
/*展览  */
.zl {
  width: 100%;
  background: url(../images/erji/zl_bg.jpg) no-repeat top center;
}
.zl .swiper-container {
  height: 500px;
}
.zl .xjzl h2 {
  color: #26969b;
  font-size: 30px;
  line-height: 60px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}
.zl .xjzl h2:after {
  content: '';
  width: 120px;
  height: 2px;
  background: #26969b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.zl .xjzl ul li {
  height: 150px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  margin-top: 50px;
}
.zl .xjzl ul img {
  float: left;
  width: 354px;
}
.zl .xjzl ul h3 {
  font-size: 22px;
  color: #26969b;
  text-align: left;
  line-height: 40px;
  width: 810px;
  float: right;
}
.zl .xjzl ul p {
  float: right;
  width: 800px;
  padding: 0 10px;
  text-indent: 2em;
  font-size: 16px;
  text-align: justify;
}
.zl .xjzl ul .more {
  color: #666666;
  font-size: 16px;
  position: absolute;
  right: 0;
  bottom: 10px;
  padding-right: 30px;
  background: url(../images/erji/ji.png) no-repeat center right;
}
/* 展览详情 */
.zl_about {
  width: 100%;
  background: #eef3f3 url(../images/erji/zl_about_bg.jpg) no-repeat center top;
}
.zl_about .title {
  margin-bottom: 40px;
}
.zl_about .about {
  padding-bottom: 80px;
}
.zl_about h2 {
  font-size: 30px;
  color: #26969b;
  text-align: center;
  line-height: 60px;
}
.zl_about p {
  font-size: 16px;
  color: #000;
  text-align: justify;
  text-indent: 2em;
  line-height: 40px;
}
.zl_about img {
  display: block;
  width: 556px;
  margin: 40px auto;
}
/* 展馆实景 */
.zt {
  width: 100%;
  background: #f6f6f6 url(../images/erji/zt.jpg) no-repeat center top;
}
.zt .inner h2 {
  color: #26969b;
  font-size: 30px;
  line-height: 60px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}
.zt .inner h2:after {
  content: '';
  width: 120px;
  height: 2px;
  background: #26969b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.zt .inner ul {
  padding-left: 10px;
}
.zt .inner ul li {
  float: left;
  margin: 20px 10px;
}
.zt .inner ul .des {
  width: 373px;
  height: 276px;
  overflow: hidden;
}
.zt .inner ul .des img {
  width: 100%;
  transition: all 1s;
  /*图片放大过程的时间*/
}
.zt .inner ul .des img:hover {
  transform: scale(1.1);
  /*以y轴为中心旋转*/
}
.zt .inner ul p {
  background: #fff;
  height: 64px;
  text-align: center;
  color: #333333;
  line-height: 64px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 展厅实景详情 */
.zt_more {
  width: 100%;
  background: #f6f6f6 url(../images/erji/zt.jpg) no-repeat center top;
  padding-bottom: 80px;
}
.zt_more h2 {
  font-size: 30px;
  color: #26969b;
  text-align: center;
  line-height: 60px;
}
/* 在线看展 */
.zxkz {
  width: 100%;
  background: url(../images/erji/zxkz_bg.jpg) no-repeat center top;
}
.zxkz h2 {
  color: #26969b;
  font-size: 30px;
  line-height: 60px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}
.zxkz h2:after {
  content: '';
  width: 120px;
  height: 2px;
  background: #26969b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.zxkz ul.zxkz_m {
  padding-bottom: 140px;
}
.zxkz ul.zxkz_m li {
  width: 370px;
  margin-top: 70px;
  margin-right: 40px;
  float: left;
}
.zxkz ul.zxkz_m li .des {
  width: 370px;
  height: 270px;
  overflow: hidden;
}
.zxkz ul.zxkz_m li .des img {
  width: 100%;
  transition: all 1s;
}
.zxkz ul.zxkz_m li p {
  color: #333;
  font-size: 16px;
  line-height: 60px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.zxkz ul.zxkz_m li p span {
  font-size: 16px;
  margin-right: 10px;
}
.zxkz ul.zxkz_m li p span i {
  font-size: 24px;
  font-style: normal;
}
.zxkz ul.zxkz_m li:last-child {
  margin-right: 0;
}
.zxkz ul.zxkz_m img:hover {
  transform: scale(1.1);
}
.zxkz .zx h3 {
  font-size: 22px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #f3f3f3;
  text-indent: 40px;
}
.zxkz .zx h3 span {
  float: right;
  margin-right: 110px;
}
.zxkz .zx ul li {
  line-height: 54px;
  margin-top: 20px;
  border-bottom: 1px solid #d9d9d9;
}
.zxkz .zx ul li a {
  color: #333;
  text-decoration: none;
}
.zxkz .zx ul li p {
  display: inline-block;
  width: 962px;
  padding-left: 40px;
  text-indent: 30px;
  position: relative;
}
.zxkz .zx ul li p:before {
  content: '';
  display: block;
  position: absolute;
  left: 44px;
  top: 20px;
  width: 10px;
  height: 10px;
  background: #f3f3f3;
  border: 2px solid #26969b;
  border-radius: 10px;
}
/* 参观指南 */
.cgzn {
  width: 100%;
  background: url(../images/erji/js1.jpg) no-repeat center top;
}
.cgzn .bg {
  width: 1140px;
  margin: 0 auto;
  height: 292px;
  padding: 90px 30px;
  background: url(../images/erji/cgzn_bg.jpg) no-repeat center;
}
.cgzn .bg .tit {
  width: 354px;
  text-align: center;
  color: #fff;
  float: left;
  margin-top: 0;
}
.cgzn .bg .tit h1 {
  margin-bottom: 6px;
  font-size: 32px;
}
.cgzn .bg .tit h2 {
  font-size: 30px;
  line-height: 54px;
  font-weight: 300;
}
.cgzn .bg .tit P {
  line-height: 50px;
  font-size: 24px;
  font-weight: 300;
}
.cgzn .bg .tit .about {
  background: #fff;
  color: #26969b;
  margin: 40px auto;
}
.cgzn .bg .tit .about:hover {
  background: #006c70;
  color: #fff;
}
.cgzn #cgyy {
  width: 1200px;
  margin: 0 auto;
}
.cgzn #cgyy h2 {
  color: #26969b;
  font-size: 30px;
  line-height: 60px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  margin-top: 60px;
}
.cgzn #cgyy h2:after {
  content: '';
  width: 120px;
  height: 2px;
  background: #26969b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cgzn #cgyy p {
  font-size: 22px;
  color: #333;
  text-align: center;
  line-height: 90px;
}
.cgzn #cgyy h3 {
  text-align: center;
  font-size: 30px;
  color: #26969b;
  margin-bottom: 20px;
  margin-top: 30px;
}
.cgzn #cgyy p.m {
  text-align: left;
  text-indent: 2em;
  line-height: 40px;
}
.cgzn #cgyy p.l {
  text-align: left;
  text-indent: 2em;
  color: #26969b;
  line-height: 50px;
}
.cgzn #jtxx {
  width: 1200px;
  margin: 0 auto;
}
.cgzn #jtxx h2 {
  color: #26969b;
  font-size: 30px;
  line-height: 60px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
}
.cgzn #jtxx h2:after {
  content: '';
  width: 120px;
  height: 2px;
  background: #26969b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cgzn #jtxx .jt {
  width: 1200px;
  height: 620px;
  background: url(../images/erji/jt_bg.jpg) no-repeat center;
}
.cgzn #jtxx .jt .left {
  width: 524px;
  height: 620px;
  overflow: hidden;
}
.cgzn #jtxx .jt .right {
  width: 590px;
  padding: 90px 40px;
  color: #fff;
}
.cgzn #jtxx .jt .right h6 {
  font-size: 26px;
  line-height: 50px;
  font-weight: normal;
  margin-bottom: 20px;
}
.cgzn #jtxx .jt .right p {
  font-size: 22px;
  font-weight: 200;
  margin: 24px 0;
}
.cgzn #cgdl {
  width: 1200px;
  margin: 0 auto;
}
.cgzn #cgdl h2 {
  color: #26969b;
  font-size: 30px;
  line-height: 60px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
}
.cgzn #cgdl h2:after {
  content: '';
  width: 120px;
  height: 2px;
  background: #26969b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cgzn #cgdl .dl {
  width: 1200px;
  height: 580px;
  background: url(../images/erji/cgdl_bg.jpg) no-repeat center;
  position: relative;
}
.cgzn #cgdl .dl .tabs {
  position: absolute;
  top: 80px;
  left: 50px;
}
.cgzn #cgdl .dl .tabs .about {
  margin: 0;
  width: 350px;
  color: #26969b;
  background: #fff;
}
.cgzn #cgdl .dl .tabs .tab {
  margin-bottom: 50px;
  overflow: hidden;
}
.cgzn #cgdl .dl .tabs .tab:hover .about {
  background: #006c70;
  color: #fff;
}
.cgzn #cgdl .dl .tabContents {
  position: absolute;
  right: 33px;
  top: 80px;
}
.cgzn #cgdl .dl .tabContents p {
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  color: #333;
}
.cgzn #cgdl .ww .active .about {
  box-shadow: 0 0 0 2px #009da3;
  background: #006c70;
  color: #fff;
}
.cgzn #dcjj {
  width: 1200px;
  margin: 0 auto;
}
.cgzn #dcjj h2 {
  color: #26969b;
  font-size: 30px;
  line-height: 60px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
}
.cgzn #dcjj h2:after {
  content: '';
  width: 180px;
  height: 2px;
  background: #26969b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cgzn #dcjj h5 {
  width: 900px;
  padding: 0 150px;
  background: #f3f3f3;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  color: #333;
}
.cgzn #dcjj h5 p {
  display: inline-block;
}
.cgzn #dcjj h5 span {
  float: right;
}
.cgzn #dcjj p.ting {
  padding-left: 70px;
  font-size: 22px;
  color: #333;
  position: relative;
  line-height: 50px;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 20px;
  padding-right: 140px;
}
.cgzn #dcjj p.ting span {
  float: right;
}
.cgzn #dcjj p.ting:before {
  content: '';
  display: block;
  position: absolute;
  left: 44px;
  top: 20px;
  width: 10px;
  height: 10px;
  background: #f3f3f3;
  border: 2px solid #26969b;
  border-radius: 10px;
}
